<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Marcin Anforowicz's website">
    <meta name="keywords" content="blog, computer science, math, programming, competitive programming, Rust">
    <meta name="author" content="Marcin Anforowicz">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Marcin Anforowicz's website">
    <meta property="og:type" content="article">
    <meta property="og:image" content="/assets/window.jpg">
    <link rel="icon" href="/assets/icon.ico">
    <link rel="icon" href="/assets/icon.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/prism.css">
    <link rel="stylesheet" media="print" href="/assets/print.css">
</head>

<body>
    <header>
        <nav id="navbar">
            <a href="/" {% if page.url=="/" %}class="active" {% endif %}>HOME</a>
            <a href="/posts" {% if page.url=="/posts/" %}class="active" {% endif %}>POSTS</a>
        </nav>
    </header>
    <main>
        <h1>{{ title }}</h1>
        {{ content }}
    </main>

    <footer id="footer">
        <a rel="noopener noreferrer" href="https://www.linkedin.com/in/m-anforowicz/">LinkedIn</a>
        <a rel="noopener noreferrer" href="https://www.youtube.com/@marcinanforowicz8319">YouTube</a>
        <a rel="noopener noreferrer" href="https://github.com/manforowicz">GitHub</a>
        <br><br>
        <small>
            By Marcin Anforowicz (manforowicz at gmail dot com)
        </small>
    </footer>
</body>

</html>