<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website of Marcin Anforowicz.">
        <meta
            name="keywords"
            content="blog, javascript, css, html, educational, university of washington, computer science, programming, coding,
                mathematics, educational videos, eleventy">
        <meta name="author" content="Marcin Anforowicz">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans|Share+Tech+Mono">
        <title>{{ title }}</title>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>