<ul>
    {%- for post in postlist reversed -%}
    <li class="post-item">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <span style="float:right"><time datetime="{{ post.date | machineDate }}">{{ post.date | postDate }}</time></span>
        <br>
        Tags:
        <ul class="comma-list">
            {%- assign myTags = post.data.tags | filterTagList -%}
            {% for tag in myTags -%}
            {%- capture tagUrl -%}/tags/{{ tag | slugify }}/{%- endcapture -%}
            <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
            {%- endfor %}
        </ul>
    </li>
    {%- endfor -%}
</ul>