@media print {
    body {
        background: white;
        color: black;
    }

    main {
        width: 100%;
    }

    a[href^="http"]:after {
        content: " (" attr(href) ")";
    }

    #navbar,
    #footer {
        display: none;
    }
}