---
title: Foo
permalink: "index.html"
---

<h1>Marcin Anforowicz</h1>
<div class="parallax" style="background-image: url('img/night.jpg')">
    <canvas id="matrix-animation" height="810px"></canvas>
</div>
    <div
        class="type-animation scroll-animation"
        data-period="2000"
        data-text='["Imagine.", "Create.", "Refine.", "Repeat."]'>Imagine.</div>

<div class="parallax" style="background-image: url('img/orca-view.jpg')"></div>
<script src="js/type-animation.js"></script>
<script src="js/scroll-animation.js"></script>
<script src="js/matrix-animation.js"></script>