@media  print  {

    /* All your print styles go here */
    body {
        background: white;
        color: black;
    }
    
    main {
        width: 100%;
    }

    main::after {
        content: "By Marcin Anforowicz";
    }

    img, tr, table {
        box-shadow: none;
        border: 1px solid;
    }

    #navbar, #footer {
        visibility: hidden;
    }
}