@media print  {
    body {
        background: white;
        color: black;
    }
    
    main {
        width: 100%;
    }

    main::after {
        content: "By Marcin Anforowicz";
    }

    #navbar, #footer {
        display: none;
    }
}