body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    overflow-x: hidden;
}

p,
li {
    margin: auto;
    width: min(800px, 95%);
    text-align: left;
    line-height: 2;
}

.monospace {
    font-family: "Share Tech Mono", monospace;
}

h1 {
    font-weight: bold;
    font-family: "Share Tech Mono", monospace;
}

.parallax {
    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-container {
    display: flex;
    align-items: center;
    justify-items: left;
}

.fullscreen {
    height: 100vw;
}

.scroll-slide {
    animation: slide 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-fill-mode: both;
}

@keyframes slide {
    from {
        transform: translateX(-50vw);
    }

    to {
        transform: translateX(100vw);
    }
}