:root {
    --font-mono: 'Share Tech Mono', monospace;
}


body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

p,
li {
    margin: auto;
    width: min(800px, 95%);
    text-align: left;
    line-height: 2;
}

.type-animation {
    font-family: var(--font-mono);
    font-size: 70px;
    line-height: 1;
    text-align: left;
    display: inline-block;
    width: 300px;
}

.large-text {
    font-family: var(--font-mono);
    font-size: 70px;
}

h1 {
    font-family: var(--font-mono);
    font-weight: bold;
    
}

.parallax {
    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}